.Main_chat
  .Main_chat__group_info
    .Group
      .Group__name
        グループ名
      %ul.Group__member
        Member：
        %li.Group__member--name
          name
    .Edit
      = link_to "#", class: "Edit__btn" do
        Edit
  .Main_chat__message_list
    - 2.times do
      = render "message_item"
  .Main_chat__message_form