.Main_chat
  .Main_chat__group_info
    .Group
      .Group__name
        グループ名
      %ul.Group__member
        Member：
        %li.Group__member--name
          name
    .Edit
      = link_to "#", class: "Edit__btn" do
        Edit
  .Main_chat__message_list
    - 2.times do
      = render "message_item"
  %form.Main_chat__message_form
    .Input_box
      %input.Input_box__text{type: "text", placeholder: "type a message"}
      %label{class: "Input_box__image"}
        = icon('fas', 'image')
        %input{type: "file", class: "Input_box__image--file"}
    %input.Send_btn{type: "submit", value: "Send"}