* {
  box-sizing: border-box;
}

.Wrapper {
  height: 100vh;
  display: flex;
  justify-content: start;
  .Side_bar {
    width: 300px;
    color: #ffffff;
    font-weight: bold;
    &__user_name {
      height: 100px;
      padding: 0px 20px 0px;
      background-color: #253141;
      display: flex;
      justify-content: center;
      align-items: center;
      .Top_items {
        height: 20px;
        width: 100%;
        background: #253141;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__user_name {
          font-size: 16px;
        }
        &__icons {
          width: 60px;
          text-align: right;
          .Top_items__btn {
            color: #ffffff;
            &--cog {
              margin-left: 5px;
            }
          }
        }
      }
    }
    &__group_list {
      height: calc(100vh - 100px);
      padding: 0px 20px 0px;
      background-color: #2f3e51;
      .Group_item {
        padding: 20px 0px 40px;
        &__name {
          font-size: 15px;
        }
        &__latest_message {
          margin-top: 5px;
          font-size: 11px;
        }
      }
    }
  }
  .Main_chat {
    width: calc(100vw - 300px);
    &__group_info {
      height: 100px;
      border-bottom: 1px solid #eeeeee;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      .Group {
        padding: 35px 0px 0px 40px;
        &__name {
          font-size: 20px;
          color: #333333;
        }
        &__member {
          margin-top: 15px;
          font-size: 12px;
          color: #999999;
          display: flex;
        }
      }
      .Edit {
        padding: 28px 40px 0px 0px;
        &__btn {
          height: 40px;
          width: 72px;
          padding: 0px 20px;
          border: 1px solid #38aef0;
          font-size: 16px;
          color: #38aef0;
          text-decoration: none;
          display: block;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &__message_list {
      height: calc(100vh - 190px);
      padding: 35px 40px 0px;
      background-color: #fafafa;
      .Message_item {
        margin-bottom: 46px;
        &__post {
          display: flex;
          &--contributor {
            font-size: 16px;
            color: #333333;
          }
          &--date {
            margin-left: 5px;
            font-size: 12px;
            color: #999999;
          }
        }
        &__text {
          margin-top: 12px;
          font-size: 14px;
          color: #434a54;
        }
      }
    }
    &__message_form {
      height: 90px;
      background-color: #d2d2d2;
    }
  }
}